body{
margin:0;
font-family:Arial;
background:#111;
color:white;
}

header{
display:flex;
justify-content:space-between;
padding:20px;
background:black;
}

.logo{
color:#00f7ff;
font-size:24px;
font-weight:bold;
}

nav a{
color:white;
margin-left:20px;
text-decoration:none;
}

.hero{
height:80vh;
display:flex;
flex-direction:column;
justify-content:center;
align-items:center;
text-align:center;
background:#222;
}

.hero h1{
font-size:48px;
}

section{
padding:60px;
text-align:center;
}
